*{
    margin: 0;
}



.container{
display: grid;
/* grid-template-columns: min-content 10rem 3fr max-content; */
grid-template-columns: repeat(4,1fr);
grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
/* grid-template-columns: repeat(3,1fr) 10 rem; */
/* gap: 1rem; */
/* height: 100vh; */
}

.content{
    border: 2px solid;
    background-color: skyblue;
    box-shadow: 5px 5px 10px black;
    transition: all 1s;
}

/* .content:active{
    box-shadow: none;
    background-color: orange;
    background-image: url(../img/WhatsApp\ Image\ 2024-10-21\ at\ 18.24.32_a8c1d098.jpg)
} */

.content1{
    background-color: teal;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.content12{
    background-color: orange;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}


.content2{
    background-image: url(../img/61km0H7G9OL._AC_UF1000\,1000_QL80_.jpg);
    background-size: cover;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.conten3{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

