*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 250px 1fr 4fr 1fr;

}

header{
background-color: teal;
grid-column: span 12;
}

header img{
    width:100% ;
    height: 100%;

}

nav{background-color: red;
    color: white;
    grid-column: span 12;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;

}

aside{
background-color: skyblue;
grid-column: span 3;
display: grid;
place-items: center;
}

main{
    background-color: orange;
    grid-column: span 9;
    background-image: url(https://cdn.pixabay.com/photo/2024/08/15/19/19/highland-cow-8972000_1280.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    text-shadow: 5px 5px 5px yellow;
}

footer {
    display: flex;
    background-color: olive;
    grid-column: span 12;
    font-size: 3rem;

}

.tr{
    background-color: red;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.sp{
    background-color: yellow;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}